/* Give the ul a border and a background color.
Make sure there's space between the list items and the border.
Why is the ul so wide? Make it less wide.
Use the Inspector to figure out how the dot next to each list item is positioned. Why is it closer to the left border than you would expect?
Add a bottom border to the h3.
Adjust the margin and/or padding of the h3 so that the bottom border is farther from the text.
Increase the spacing between the h3 and the ul./li>
Modify the CSS to create something you think looks good */

ul {
    border: 3px solid red;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-right: 25px;
}

h3 {
    border-bottom: 3px solid red;
    padding-bottom: 20px;
    margin-bottom: 40px;
}